.table {
  width: 100%;
  table-layout: fixed;
  background-color: white;
}

.table td,
.table th {
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.table th {
  font-size: 1.2rem;
  background-color: #e7e5e4;
}
