.gridItem {
  /* padding: 1.25rem 1.5rem; */
  background-color: white;
  border: 1px solid #e7e5e4;
  border-radius: 0.5rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
  word-break: break-all;
  display: flex;
  flex-direction: column;
}

.gridItem table {
  flex-grow: 1;
}

.gridItem table th {
  border-left: none;
  width: 100px;

  text-align: center;
}
.gridItem table td {
  border-right: none;
  padding: 5px 10px 5px 10px;
}

.gridItem tr:last-child {
  td,
  th {
    border-bottom: none;
  }
}

.elapsedText {
  font-size: 0.8rem;
  padding: 0.5rem 0 0 0.7rem;
  margin-right: auto;

  &.pending {
    color: #a8a29e;
  }

  &.approved {
    color: #65a30d;
    font-weight: bold;
  }

  &.rejected {
    color: #ef4444;
    font-weight: bold;
  }
}

.buttonGroup {
  display: flex;
}

.approveButton {
  padding: 0;

  color: #22c55e;
  background-color: white;
  width: 16px;

  padding: 0;
  svg {
    width: 100%;
    height: 100%;
  }
  &:hover {
    opacity: 0.5;
  }
}

.rejectButton {
  color: #dc3545;
  background-color: white;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  width: 16px;

  padding: 0;
  svg {
    width: 100%;
    height: 100%;
  }
  &:hover {
    opacity: 0.5;
  }
}

.top {
  display: flex;

  height: 1.5rem;
}

.details {
  font-size: 1.5rem;
  font-weight: 800;
  padding-left: 0.7rem;
  margin-bottom: 0.5rem;
}

.bold {
  font-weight: bold;
}
